<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="text-center margin-top-lg">
        <h4><b>本当に退会しますか?</b></h4>
        <br>
          <p>
            退会すると、会員登録情報や<br>
            これまでの購入履歴が閲覧できなくなります。<br>
            退会する場合は、「退会する」をクリックしてください。<br>
          </p>
        <br>
      </div>
      <div class="row">
        <div class="col-sm-6 text-right">
          <%= link_to "退会しない", customers_path, class: 'btn btn-primary' %>
        </div>
        <div class="col-sm-6 text-left">
          <%= form_with model: @customer, url: out_path, local: true do |f| %>
            <%= f.hidden_field :is_active, value: false %>
            <%= f.submit "退会する", class: "btn btn-danger", data: {confirm: "本当に退会しますか？" } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>