<div class="container">
  <div class="row">
    <div class="col-sm-12">


<div class="about">
  
<div class="text-center">
<h1>About</h1>
<p class="font-size-20">
  ながのCakeは全国発送可能なケーキ屋さんです。<br>
  お子様からお年寄りの方までお召し上がりいただけるよう、<br>
  様々なバリエーションをご用意しております。<br>
  また、全国発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
  ぜひご注文ください。<br>
</p>

<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
<div class="jumbotron"></div>
</div>
</div>

</div>



    </div>
  </div>
</div>