// Place all the styles related to the admin::admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.margin-bottom-lg{
	margin-bottom: 150px;
}

.link-today-order{
	color: inherit;
	text-decoration: underline;
}

