/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

li.welcome-message{
  margin-right: 50px;
  padding: 15px;
}

.page-heading span{
  background-color: #eeeeee;
}

table thead{
  background-color: #eeeeee;
}

.no-color{
	background-color: #ffffff !important;
}

.colored{
	background-color: #eeeeee;
}

.margin-top-lg{
	margin-top: 150px;
}

.margin-bottom-xs{
	margin-bottom: 15px;
}

.margin-bottom-sm{
	margin-bottom: 30px;
}

.margin-left-lg{
	margin-left: 130px;
}

.margin-left-md{
	margin-left: 50px;
}

.margin-left-sm{
	margin-left: 30px;
}

.vertical-align-top{
	vertical-align: top;
}

th, td{
	vertical-align: middle !important;
}

.font-size-20{
  font-size: 20px;
}

.font-size-15{
	font-size: 15px;
}

.width-50{
	width: 50px !important;
}

.link-format{
	color: inherit;
	text-decoration: underline;
}

table.no-border tr th, td{
	border: none;
}

.item-description{
	width: 300px;
	overflow-wrap: anywhere;
	display: inline-block;
}

.page-n {
	text-align: center;
}

.pagination {
	a {text-decoration: none;
	border-radius: 50%;
	width: 200px;
	height: 100px;

&:active {
  text-decoration: none;
  border-radius: 50%;
	width: 200px;
	height: 100px;
	background-color: rgb(51, 122, 183)
}
&:hover {
	text-decoration: none;
	border-radius: 50%;
	width: 200px;
	height: 100px;
	background-color: rgb(62, 64, 66)
}
}
}

